{% extends "base.html" %}
{% block title_html %}
    List Documents
{% endblock %}
{% block h1 %}
    Just list 'em docs
{% endblock %}
{% block article_content %}
    <table>
        <tr>
            <td>Url</td>
        </tr>
        {% for document in document_list %}
            <tr>
                <td>{{document.url}}</td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
    <div class="pagination">
    <span>
    {% if page_obj.has_previous %}
    <a href="{% url "list_document" %}?page={{ page_obj.previous_
    page_number }}">Previous</a>
    {% endif %}
    <span style="margin-left:15px;margin-right:15px;">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages
    }}.
    </span>
    {% if page_obj.has_next %}
    <a href="{% url "list_document" %}?page={{ page_obj.next_page_
    number }}">Next</a>
    {% endif %}
    </span>
    </div>
    {% endif %}
{% endblock %}